.two-col {
    overflow: hidden;/* Makes this div contain its floats */
    width:100%;
}

.two-col .col1,
.two-col .col2 {
    width 49%;
}

.two-col .col1 {
    float: left;
    margin:0 15px 0 0;
}

.two-col .col2 {
    float: right;
}

.two-col label {
    display: block;
}