@import 'mixins.css.less';
@import 'variables.css.less';


// Checkout progress meter
.commerce-checkout-progress {
	li {
		.border-radius(4px);
		border: 1px solid #ccc;
		padding: 4px 5px;
		width: 110px;
		.center;
		.typewriter;
		&.active {
			color: #fff;
			background: #000;
		}
		a {
			color: #000;
			&:link, &:visited {
				text-decoration: none;
			}
		}
	}
}

// Big button mixin for all cart
.big-button-container {
	width: 160px;
	background: url(../images/buttons_big.png) 0 0;
	text-indent: -300em;
	display: inline-block;
	height: 45px;
	border: 0;
	border-radius: 0;
	cursor: pointer;
}

.page-cart {
	.commerce-line-item-views-form {

		width: 700px;
		margin: 0 auto;
		table {
			width: 100%;
			thead tr {
				border-bottom: 1px solid #000;
			}
			tr.odd,
			tr.even {
				border: 0;
				background: none;
			}
			th {
				.tondo-bold;
				.center;
				&.views-field-line-item-title {
					text-align: left;
				}
			}
			tbody {
				border-bottom: 1px solid #000;
			}
			tbody td {
				padding : 10px 0;
			}
			td {
				.center;
				background: url(../images/dots_horz_1.png) repeat-x 0 100%;
				&.views-field-line-item-title {
					text-align: left;
					a {
						color: #000;
						margin-left: 10px;
						text-decoration: none;
						.tondo-bold;
					}
				}
			}
			td,img {
				vertical-align: middle;
			}
			tr.views-row-last td {
				background: none;
			}
			.views-field-edit-quantity {
				input {
					border: 2px solid #ccc;
					.center;
				}
			}
		}

		.line-item-summary {
			font-size: 30px;
			.tondo-reg;
		}
	}
	
	#edit-submit {
		.big-button-container;
		&:hover {
			background-position: -160px 0;
		}
	}
	#edit-checkout {
		.big-button-container;
		background-position: 0 -300px;
		position: relative;
		top: -3px;
		&:hover {
			background-position: -160px -300px;
		}
	}

}

.field-name-field-gift-message {
	width: 400px;
	label {
		display: none;
	}
}

.button-operator {
	margin: 0 7px;
	display: inline-block;
	text-indent: -300em;
}

table.checkout-review .pane-data-full {
	padding: 0;
}

.checkout_review {
	border-bottom: 1px solid #000;
}

ol.inline.commerce-checkout-progress li {
	width: 158px;
	&:last-child {
		margin: 0;
	}
}

.component-type-commerce-price-formatted-amount {
	font-size: 30px !important;
	color: @brown !important;
	border-bottom: none !important;
}

.commerce-price-formatted-components {
	width: 100% !important;
	.component-title {
		width: 60%;
		text-align: right;
	}
	.component-type-base-price {
		background: url(../images/dots_horz_1.png) 0 100% repeat-x !important;
		td {
			padding: 6px 0;
		}
	}
	.component-type-flat-rate-test-shipping-rate {
		background: url(../images/dots_horz_1.png) 0 100% repeat-x !important;
		td {
			padding: 6px 0;
		}
	}
}

.page-checkout {
	.region-content {
		margin-left: 130px;
		width: 700px !important;
	}
	// remove the payment button
	.payment {
		display: none;
	}

	.form-item, .form-actions {
		margin-bottom: 0;
	}

	#edit-cart-contents {
		display: none;
	}
	table {
		width: 100%;
	}
	tr.odd,
	tr.even {
		background: none;
	}
	.view-content {
		th {
			.tondo-bold;
			.center;
			&.views-field-line-item-title {
				text-align: left;
			}
		}
		thead tr {
				border-bottom: 1px solid #000;
			}
		tbody {
			border-bottom: 1px solid #000;
		}
		tbody td {
			padding : 10px 0;
		}
		td {
			.center;
			background: url(../images/dots_horz_1.png) repeat-x 0 100%;
			img {
				margin-right: 10px;
			}
			&.views-field-line-item-title {
				text-align: left;
				color: #000;
				.tondo-bold;
			}
		}
		td,img {
			vertical-align: middle;
		}
		tr.views-row-last td {
			background: none;
		}
	}

	// Checkout address form 
	@form_size: 400px;
	.fieldset-legend {
		color: @brown;
		.tondo-bold;
		font-size: 15px;
	}
	label {
		.tondo-reg;
		font-weight: normal;
	}
	.name-block,
	.street-block {
		input[type=text] {
			width: @form_size;
		}
	}
	.country[size] {
		width: @form_size;
	}
	select[size] {
		height: 23px;
	}
	.locality[size] {
		width: 138px;
	}
	.state {
		width: 138px;
	}
	#edit-account-login-mail {
		width: 400px;
	}
	.checkout-continue {
		.big-button-container;
		background-position: 0 -250px;
		&:hover {
			background-position: -160px -250px;
		}
	}
	.checkout-cancel {
		.big-button-container;
		background: url(../images/buttons_big.png) !important;
		background-position: 0 -600px !important;
		&:hover {
			background-position: -160px -600px !important;
		}
	}
	.checkout-back {
		.big-button-container;
		background: url(../images/buttons_big.png) !important;
		background-position: 0 -650px !important;
		&:hover {
			background-position: -160px -650px !important;
		}
	}

}

.commerce_payment {
	margin-top: -12px;
}

#edit-checkout-review {
	tr:first-child {
		border-top: 0;
		td {
			height: 30px;
			color: @brown;
			font-size: 16px;
		}
	}
}

.view-commerce-cart-summary {
	tr {
		border-top: 0;
		td {
			height: 30px;
			color: @brown;
			font-size: 16px;
		}
	}
	.component-type-commerce-price-formatted-amount {
		.component-title, .component-total {
			font-size: 30px !important;
			color: @brown !important;
			border-bottom: none !important;
		}
	}
}



.page-checkout-review {
	.checkout-help {
		display: none;
	}
	tr {
		border: 0;
	}
	.pane-title td,
	.pane-data td {
		padding-left: 0 !important;
	}
	.pane-data {
		border-bottom: 0;
		color: #666;
		label {
			float: left;
			margin-right: 4px;
		}
	}
	.checkout-review {
		.pane-title {
			border-top: 1px solid #000;
			border-bottom: 0;
			.tondo-bold;
			color: #000;

			td {
				padding-top: 3px;
			}
		}
		.pane-data-full {
			padding-bottom: 15px;
		}
	}
	// Payment form
	.form-item-commerce-payment-payment-details-credit-card-type select {
		width: 157px;
	}
	.form-radios {
		display: none;
	}

	#commerce-checkout-form-review {
		.checkout-help span {
			margin-bottom: 5px;
			display: block;
		}
	}
	.checkout-continue {
		.big-button-container;
		background-position: 0 -700px !important;
		&:hover {
			background-position: -160px -700px !important;;
		}
	}
}

input.delete-line-item {
	border: 0 !important;
	border-radius: 0 !important;
	background: url(../images/ui_elements.png) -55px -329px no-repeat!important;
	width: 14px !important;
	height: 14px;
	display: inline-block;
	text-indent: -300em;
	padding: 0 !important;
}