@import 'mixins.css.less';
@import 'variables.css.less';

.front {
	.view-front-slideshow {
		position: relative;
		right: -2px;
		width: 700px;
		.center;
		margin: 40px auto;
		img {
			border: 2px solid #fff;
		}
		.views-field-body {
			margin-top: 15px;
			.tondo-bold;
		}
	}

	.view-front-page-gallery {
		.views-row-odd {
			margin-left: 20px;
		}
		img {
			border: 3px solid #fff;
		}
	}
}