@import 'mixins.css.less';
@import 'variables.css.less';

// This stylesheet holds all the style information
// for all menus used on siteglass

.menu-policies {
	float: right;
	.menu li {
		display: inline;
		margin-left: 20px;
	}
	a:link, a:visited {
		color: @brown;
		text-decoration: none;
		font-size: 11px;
	}
	// This span is added with javascript for styling purposes
	// on ETC logo
	span {
		border-bottom: 1px solid @brown;
	}
}

.zone-menu {
	
	.region {
		position: relative;
		top: -130px;
	}
	.region-inner {
		position: absolute;
		width: 490px
	}
	.region-menu-first {
		left: 0;
	}
	.region-menu-second {
		left: 100px;
	}
	.region-menu-second-inner {
		width: 350px;
	}

}

.block-menu-menu-top-left {

	a:link, a:visited {
		text-decoration: none;
		.tondo-bold;
		color: @brown;
		padding: 4px;
		display: inline-block;
	}
	li {
		float: left;
		margin-right: 10px !important;
	}
}

.block-menu-menu-top-right {

	a:link, a:visited {
		text-decoration: none;
		.tondo-bold;
		color: @brown;
		padding: 4px;
		display: inline-block;
	}
	li {
		float: left;
		margin-right: 10px !important;
		list-style: none !important;
	}

}

.qtip-content {
	li {
		list-style: none;
		img {
			display: inline-block;
			background-image: url(../images/ui_elements.png);
			background-repeat: no-repeat;
			height: 21px;
			width: 21px;
			margin-right: 5px;
			vertical-align: middle;
		}
		.facebook img {
			background-position: 0 0;
		}
		.twitter img {
			background-position: -21px 0;
		}
		.instagram img {
			background-position: -42px 0;
		}
		.email img {
			background-position: -63px 0;
		}
	}
	.addthis_toolbox {
		a:link, a:visited {
			&:hover {
				background: transparent;
			}
		}
		a:link span, a:visited span {
			display: inline-block;
			padding: 2px 5px;
			width: 300px;
			&:hover {
				background: @bgcolor;
			}
		}
	}
}

.sharing-dropdown {
	li {
		list-style: none;
		.facebook {

		}
	}
}

// - qTip minipanels dropdown overrides


.qtip-contentWrapper {
	background: transparent !important;

}

.qtip-borderBottom,
.qtip-borderTop,
.qtip-betweenCorners {
	display: none !important;
}

.qtip {
	left: 0 !important;
	top: 20px !important;
}

canvas {
	display: none;
}

.qtip-tip {
	background: url(../images/ui_elements.png) -90px 0 !important;
	height: 12px !important;
	width: 23px !important;
	top: 2px !important;
}

.qtip-content {
	background: rgba(255,255,255,0.8) !important;
	//.border-radius(4px, 4px, 4px, 4px);
	//width: 600px !important;
	padding: 15px !important;
	height: 220px !important;
	border: 0 !important;
	a:link, a:visited {
		text-decoration: none;
		.tondo-reg;
		font-size: 19px;
		color: @brown;
		display: block;
		padding: 0px 8px;
		&:hover {
			background: @bgcolor;
		}

	}
	.left-side {
		background: url(../images/dots_vert.png) repeat-y 100% 0;
		height: 200px;
	}
}

#mini-panel-menu_our_company .right-side {
	background: url(../images/cselect_brown_large.png) no-repeat 60% 50%;
	width: 180px;
	height: 200px;
}

#mini-panel-menu_blog {
	.right-side {
		line-height: 26px;
		.pane-title {
			.typewriter;
			color: @brown;
			margin: 0 0 0 8px;
			padding: 0;
			font-size: 14px;

			span { 
				border-bottom: 1px solid @brown;
			}
		}
		a:link, a:visited {
			.typewriter;
			font-size: 15px;
		}
	}
}

#mini-panel-menu_wholesale {
	.pane-title {
		.typewriter;
		color: @brown;
		margin: 0 0 5px 8px;
		padding: 0;
		font-size: 14px;

		span { 
			border-bottom: 1px solid @brown;
		}
	}
	.right-side {
		&:hover {
			.pane-title, a:link, a:visited {
				color: @red;
			}
			.pane-title span {
				border-bottom-color: @red;
			}
			.views-field-field-image img {
				border-color: @red;
			}
		}
		a:link, a:visited {
			&:hover {
				background: transparent;
			}
		}
	}
	
	.views-field-title {
		margin-bottom: 20px;
	}
	.views-field-field-image {
		margin-left: 8px;
		img {
			border: 2px solid transparent;
		}
		a {
			padding: 0;
		}
	}
	
}

// This code is for the main product menu that appears
// on all the store pages. The user clicks the title
// of the page to reveal and hide this menu.
.block-menu-menu-products {
	margin-bottom: 30px;
	.content {
		display: none;
		li {
			.center;
		}
		a:link,
		a:visited {
			font-size: 36px;
			text-decoration: none;
			.tondo-bold;
			.uppercase;
			color: @brown;
			&.latin-america:hover {
				color: @green;
			}
			&.africa:hover {
				color: @red;
			}
			&.oceania:hover {
				color: @blue;
			}
			&.espresso:hover {
				color: #000;
			}
			&.blends-decaf:hover {
				color: @black;
			}
		} 
	}
}

.menu-minipanels {
	.brewing-guides {
		width: 178px;
		height: 204px;
		background: url(../images/guides_nav.png) no-repeat;
	}
	
	.aeropress:hover {
		color: @green;
	}
	.chemex:hover {
		color: @teal;
	}
	.clever:hover {
		color: @orange;
	}
	.french-press:hover {
		color: @purple;
	}
	.v60:hover {
		color: @red;
	}
}

.menu-minipanel-614 {
	a:hover {
		background: transparent !important;
	}
}


