@import 'mixins.css.less';
@import 'variables.css.less';


// ---------------------------------------------------------
//
// -- START blog articles in tabs styles
// 
// ---------------------------------------------------------

// These styles are for the blog article that populate
// the top tab on all of the coffee catalog pages

.view-blog-for-coffee {
	.views-row {
		position: relative;
		width: 220px;
		height: 360px;
		.center;
		float: left;
		padding: 0 10px;
		&:first-child {
			padding-left: 0;
		}
		&:last-child {
			padding-right: 0;
		}
	}
	.views-field-title {
		margin-top: 4px;
		a {
			font-size: 19px;
			line-height: 21px;
			color: #fff;
			text-decoration: none;
			
		}
	}
	.views-field-field-image {
		border: 2px solid #fff;
	}
	.views-field-created {
		margin-top: 10px;
		.field-content {
			.uppercase;
			color: @lightbrown;
			border-bottom: 1px solid @lightbrown;
			font-size: 11px;
		}
	}
	.views-field-body {
		.typewriter;
		margin-top: 5px;
		padding: 0 15px;
		max-height: 120px;
		height: 120px;
		overflow: hidden;
		p {
			font-size: 13px;
			line-height: 17px;
		}
	}
	.views-field-path {
		a {
			display: inline-block;
			.uppercase;
			color: #fff;
			-webkit-transition: all .2s;
			border: 1px solid #fff;
			padding: 1px 8px;
			font-size: 12px;
			text-decoration: none;
			&:hover {
				background: @lightbrown;
				color: @brown;
				border-color: @lightbrown;
			}
		}
	}
	.view-footer {
		position: relative;
		clear: both;
		.center;
		padding-top: 15px;
		a {
			display: inline-block;
			border: 1px solid @lightbrown;
			color: @lightbrown;
			text-decoration: none;
			padding: 0 8px;
			.uppercase;
			font-size: 15px;
			-webkit-transition: all .2s;
			&:hover {
				color: @brown;
				background: @lightbrown;
				border-color: @lightbrown;
			}
		}
		.horz-divider {
			height: 2px;
			width: 100%;
			background: url(../images/dots_horz.png) 0 -2px repeat-x;
			position: absolute;
			z-index: 200;
			top: 0;
		}
	}
	.divider {
		width: 2px;
		height: 360px;
		background: url(../images/dots_vert.png) -2px 0 repeat-y;
		position: absolute;
		left: 5px;
		z-index: 200;
		top: 0;
		left: 229px;
	}
	
	.views-row-2 {
		.divider {
			left: 239px;
		}
	}
}


.view-blog-for-coffee {

}

// ---------------------------------------------------------
//
// -- END blog articles in tabs styles
// 
// ---------------------------------------------------------




// ---------------------------------------------------------
//
// -- START Catalog and detail page styles
// 
// ---------------------------------------------------------

.product-catalog {
	.views-field-field-region {
		border-bottom: 1px solid;
		display: inline-block;
		line-height: 14px;
	}
	.coffee-row {
		.pane-title {
			clear: both;
			text-transform: uppercase;
			text-align: center;
			padding-top: 25px;
			margin-bottom: 10px;
			font-size: 19px;
			font-family: Tondo-Bold !important;
		}
	}
}

.product-catalog,
.product-detail,
.node-type-brewing-guide {
	.view-product-catalog,
	.view-related-coffees,
	.view-brewing-tools {
		margin-left: -10px;
		position: relative;
		width: 720px;
		.views-row {
			position: relative;
			.center;
			height: 240px;
			cursor: pointer;
			width: 220px;
			padding: 20px 10px;
			float: left;
			-webkit-transition: all .2s;
		}
		.views-field-field-region {
			font-size: 12px;
			.uppercase;
			.tondo-bold;
			//border-bottom: 1px solid;
			display: inline-block;
			margin-bottom: 8px;
		}
		.views-field-title {
			margin-bottom: 5px;
			a:link, a:visited {
				color: @brown;
				.tondo-bold;
				text-decoration: none;
				font-size: 19px;
				line-height: 21px;
				padding: 0 20px;
				display: block;
			}
		}
		.views-field-field-taste-notes {
			margin-bottom: 20px;
			.typewriter;
			padding: 0 15px;
		}
		.views-field-commerce-price {
			border: 1px solid @brown;
			width: 70px;
			padding: 0;
			margin: 0 auto;
			.tondo-bold;
			font-size: 12px;
		}
		.divider {
			width: 2px;
			height: 258px;
			position: absolute;
			background: url(../images/dots_vert_1.png) repeat-y;
			left: 239px;
			top: 10px;
			z-index: 200;
		}
		.horz-divider {
			height: 2px;
			width: 220px;
			position: absolute;
			background: url(../images/dots_horz_1.png) repeat-x;
			bottom: -1px;
			left: 10px;
			z-index: 10;
		}
		.top-divider {
			height: 2px;
			width: 220px;
			position: absolute;
			background: url(../images/dots_horz_1.png) repeat-x;
			top: 0;
			left: 10px;
		}

	}

	// Brewing tool overrides
		.brewing-row .view-related-coffees,
		.brewing-row .view-brewing-tools {
			position: relative;
			clear: both;
			//clear: both;
			
			.views-row {
				-webkit-transition: all .2s;
				width: 220px;
				height: 400px;
				position: relative;
				&:hover {
					background: #D1CBC0;
					.views-field-field-overview {
						opacity: 1;
					}
				}
			}
			.divider {
				height: 430px;
			}
			.views-field-title {
				margin: 30px 0 20px;
			}
			img {
				border: 3px solid #fff;
			}
			.views-field-field-overview {
				-webkit-transition: all .2s;
				.typewriter;
				width: 216px;
				height: 216px;
				position: absolute;
				overflow: hidden;
				top: 23px;
				left: 13px;
				opacity: 0;
				background: rgba(255,255,255,0.9);
				z-index: 100;
				.field-content {
					padding: 15px;
				}
			}
		}


	// Regional colors
	// Latin America
	&.latin-america {
		.views-field-field-region {
			color: @green;
			border-bottom-color: @green;
		}
	}
	// Africa
	&.africa {
		.views-field-field-region {
			color: @red;
			border-bottom-color: @red;
		}
	}
	// Oceania
	&.oceania {
		.views-field-field-region {
			color: @blue;
			border-bottom-color: @blue
		}
	}
	// Oceania
	&.espresso {
		.views-field-field-region {
			color: @black;
			border-bottom-color: @black
		}
	}

}

// ---------------------------------------------------------
//
// -- END Catalog and detail page styles
// 
// ---------------------------------------------------------

// ---------------------------------------------------------
//
// -- START color matching
// 
// ---------------------------------------------------------

// Match logo color, and rollover colors for sections

.page-coffees-latin-america,
.latin-coffee,
.latin-america {
	.logo-img {
		background-position: -142px 0;
	}
	.wave {
		background-position: -165px -32px;
	}
}

.page-coffees-africa,
.africa {
	.logo-img {
		background-position: -426px 0;
	}
	.wave {
		background-position: -165px -132px;
	}
}

.page-coffees-pacific,
.pacific {
	.logo-img {
		background-position: -284px 0;
	}
	.wave {
		background-position: -165px -82px;
	}
}

.page-coffees-espresso,
.espresso {
	.logo-img {
		background-position: -710px 0;
	}
	.wave {
		background-position: -165px -182px;
	}
}

.brewing-tool {
	.logo-img {
		background-position: 0 0;
	}
	.wave {
		background-position: -165px 16px;
	}
}


// Interaction color for coffees in catalog/related view
.page-coffees-latin-america .view-product-catalog {
//.latin-america .view-related-coffees {
	.views-row {
		&:hover {
			background: @lightgreen;
		}
	}
}

.page-coffees-africa .view-product-catalog {
//.africa .view-related-coffees {
	.views-row {
		&:hover {
			background: @lightred;
		}
	}
}

.page-coffees-pacific .view-product-catalog {
//.pacific .view-related-coffees {
	.views-row {
		&:hover {
			background: @lightblue;
		}
	}
}

.page-coffees-espresso .view-product-catalog {
//.oceania .view-related-coffees {
	.views-row {
		&:hover {
			background: @lightblack;
		}
	}
}

.page-coffees-blends .view-product-catalog {
//.blends-decaf .view-related-coffees {
	.views-row {
		&:hover {
			background: @lightbrown;
		}
	}
}

.page-coffees-decaf .view-product-catalog {
//.blends-decaf .view-related-coffees {
	.views-row {
		&:hover {
			background: @lightbrown;
		}
	}
}

.page-brewing-tool .view-product-catalog {
//.brewing-tools .view-related-coffees {
	.views-row {
		&:hover {
			background: @lightblack;
		}
	}
}

// Coffee region selector - This is a small widget
// that allows the user to refine the view based
// on intraregional area
.coffee-region-selector {
	.pane-title {
		font-size: 16px !important;
		margin-bottom: 0 !important;
	}
	.view-coffee-regions {
		position: relative;
		left: -4px;
		.views-summary li {
			 a:link, a:visited {
				color: @bgcolor;
				width: 300px;
				text-decoration: none;
				display: block;
				padding: 3px 4px;
				.tondo-reg;
				&:hover, &.active {
					background: @lightbrown;
					color: @brown;
				}
			}
		}
	}
}



// Interaction colors for blog elements in tabs 
.page-coffees-latin-america {
	.view-blog-for-coffee {
		.views-field-created {
			.field-content {
				color: @lightgreen;
				border-bottom: 1px solid @lightgreen;
			}
		}
		.views-field-path {
			a {
				&:hover {
					background: @lightgreen;
					color: @green;
					border-color: @lightgreen;
				}
			}
		}
		.view-footer {
			a {
				border: 1px solid @lightgreen;
				color: @lightgreen;
				&:hover {
					color: @green;
					background: @lightgreen;
					border-color: @lightgreen;
				}
			}
		}
	}
	.view-coffee-regions {
		a:link, a:visited { 
			&:hover, &.active {
				background: @lightgreen !important;
				color: @green !important;
			}
		}
	}
}

.page-coffees-africa {
	.view-blog-for-coffee {
		.views-field-created {
			.field-content {
				color: @lightred;
				border-bottom: 1px solid @lightred;
			}
		}
		.views-field-path {
			a {
				&:hover {
					background: @lightred;
					color: @red;
					border-color: @lightred;
				}
			}
		}
		.view-footer {
			a {
				border: 1px solid @lightred;
				color: @lightred;
				&:hover {
					color: @red;
					background: @lightred;
					border-color: @lightred;
				}
			}
		}
	}
	.view-coffee-regions {
		a:link, a:visited { 
			&:hover, &.active {
				background: @lightred !important;
				color: @red !important;
			}
		}
	}
}

// Oceania
.page-coffees-pacific {
	.view-blog-for-coffee {
		.views-field-created {
			.field-content {
				color: @lightblue;
				border-bottom: 1px solid @lightblue;
			}
		}
		.views-field-path {
			a {
				&:hover {
					background: @lightblue;
					color: @blue;
					border-color: @lightblue;
				}
			}
		}
		.view-footer {
			a {
				border: 1px solid @lightblue;
				color: @lightblue;
				&:hover {
					color: @blue;
					background: @lightblue;
					border-color: @lightblue;
				}
			}
		}
	}
	.view-coffee-regions {
		a:link, a:visited { 
			&:hover, &.active {
				background: @lightblue !important;
				color: @blue !important;
			}
		}
	}
}

// Espresso
.page-coffees-espresso {
	.view-blog-for-coffee {
		.views-field-created {
			.field-content {
				color: @lightblack;
				border-bottom: 1px solid @lightblack;
			}
		}
		.views-field-path {
			a {
				&:hover {
					background: @lightblack;
					color: @black;
					border-color: @lightblack;
				}
			}
		}
		.view-footer {
			a {
				border: 1px solid @lightblack;
				color: @lightblack;
				&:hover {
					color: @black;
					background: @lightblack;
					border-color: @lightblack;
				}
			}
		}
	}
	.view-coffee-regions {
		a:link, a:visited { 
			&:hover, &.active {
				background: @lightblack !important;
				color: @black !important;
			}
		}
	}
}


// ---------------------------------------------------------
//
// -- END Catalog and detail page styles
// 
// ---------------------------------------------------------

// ---------------------------------------------------------
//
// -- START pager override for brewing tools and goods
// 
// ---------------------------------------------------------



.pager {
	
}



.pagerer {
	.item-list {
		padding-top: 15px;
	}
	width: 100%;
	margin-top: 15px;
	.center;
	.pager-item,
	.pager-current {
		.center;
		padding: 0 3px !important;
		border: 1px solid @brown;
		border-radius: 100px;
		display: inline-block !important;
		width: 14px;
		font-size: 14px;
		a {
			border-radius: 100px;
			text-decoration: none;	
			color: @brown;
			display: block;
			font-size: 14px;
		}
	}
	.pager-item {
		&:hover {
			background: @brown;
			a {
				color: @bgcolor;
			}
		}
	}
	.pager-current {
		background: @brown;
		color: @bgcolor;
	}
	.pager-previous,
	.pager-next {
		a {
			text-decoration: none;
			color: @brown;
			.uppercase;
			.tondo-bold;
		}
	}
}



