@import 'mixins.css.less';
@import 'variables.css.less';

// The product detail page is broken down into multiple views
// Across the top there are three views, below that is the 
// decription which is initially hidden, some static content
// and then the random other suggestions consisiting of
// three coffees from some meta region and three items
// for brewing/preparing coffee


// Local Variables
 
// The variable controls the height of the first three
// divs describing the product
@l_top_element_height: 340px;

.product-detail {

	// Top left view
	// contains region, title, amount, price and add to 
	// cart button and quantity
	.view-product-detail-left {
		.views-row {
			position: relative;
			height: @l_top_element_height;
		}
		.views-field-title {
			.tondo-bold;
			line-height: 21px;
			font-size: 19px;
		}
		.views-field-field-region,
		.views-field-field-type {
			.uppercase;
			border-bottom: 1px solid @brown;
			display: inline-block;
			margin-bottom: 5px;
			.tondo-bold;
			line-height: 14px;
		}
		.views-field-commerce-price {
			.typewriter;
			font-size: 22px;
		}
		.views-field-field-amount {
			.typewriter;
			margin-bottom: 15px;
			font-size: 12px;
			margin-top: 5px;
		}
		.form-submit {
			display: inline-block;
			height: 45px;
			width: 160px;
			background-image: url(../images/buttons_big.png);
			border: 0;
			border-radius: 0;
			text-indent: -300em;
			//position: absolute;
			//bottom: 0;
		}
		.out-of-stock {
			background-position: 0 -750px !important;
			&:hover {
				background-position: 0 -750px !important;
			}
		}
		.form-item-quantity {
			background: url(../images/buttons_other.png) no-repeat 0 -42px;
			height: 42px;
			width: 161px;
			position: relative;
			label {
				display: none;
			}
			input {
				//border: 1px solid #9B8579;
				border: 0;
				text-align: center;
				height: 41px;
				position: absolute;
				right: 0;
				top: 0;
				width: 42px;
				font-size: 18px;
				padding: 0 5px;
				background: none;

			}
		}
		.subscribe-wrapper {
			position: absolute;
			bottom: 0;
			.subscribe-button {
				width: 160px;
				height: 42px;
				background: url(../images/buttons_big.png) no-repeat 0 -50px;
				&:hover {
					background-position: -160px -50px;
				}
				text-indent: -300em;
				cursor: pointer;
			}
		}

	}

	// Center view
	// contains image of region and more detail button
	.view-product-center {
		img {
			//border: 3px solid #fff;
		}
		.region-data {
			position: relative;
			height: @l_top_element_height;
			.center;
			.more-button {
				position: absolute;
				border: 1px solid @brown;
				display: inline-block;
				width: 150px;
				cursor: pointer;
				bottom: 0;
				left: 32px;
				.uppercase;
			}
		}
	}

	// Top right view
	// contains taste notes, growing method, varietal/processing 
	// method, location and download link
	// 
	// This section mashes up coffees and brewing tools
	.view-product-detail-right {
		.views-row {
			position: relative;
			height: @l_top_element_height;
		}
		.views-label {
			.uppercase;
			border-bottom: 1px solid @brown;
			display: block;
			font-size: 11px;
			.tondo-bold;
		}
		.views-field-field-taste-notes {
			height: 150px;
		}
		.views-field-field-taste-notes,
		.views-field-field-varietal-processing-method,
		.views-field-field-location,
		.views-field-field-growing-method,
		.views-field-field-overview,
		.views-field-field-details,
		.views-field-commerce-stock {
			margin-bottom: 20px;
			.field-content {
				.typewriter;
			}
		}
		.views-field-field-spec-sheet,
		.views-field-field-spec-sheet-1 {
			a:link, a:visited {
				color: #000;
				.uppercase;
				.tondo-bold;
				vertical-align: top;
			}
		}

		
	}

	// Description view
	.pane-product-detail-description-panel-pane-1 {
		clear: both;
	}
	.view-product-detail-description {
		clear: both;
		.typewriter;
		position: relative;
		.views-field-body {
			display: none;
			padding: 30px 0 30px;
		}
	}

	// This div is injected with javascript
	.above-description {
		height: 2px;
		background: url(../images/dots_horz_1.png) repeat-x;
		margin: 20px 100px 0 100px;
		width: 740px;
		clear: both;
		float: left;
		display: inline;
	}

	// Static info on coffee
	.pane-coffee-static-info {
		clear: both;
		position: relative;
		top: -2px;
		background: @extralightbrown url(../images/dots_horz_1.png) repeat-x;
		p {
			font-size: 11px;
			line-height: 16px;
			color: @brown;
			.tondo-reg;
			strong {
				.tondo-bold;
			}
		}
		.pane-content {
			padding: 10px 0 0;
		}
	}
	
	.mprefix-2 {
		margin-left: 100px;
		padding-left: 20px;
	}
	.msuffix-2 {
		margin-right: 100px;
		padding-right: 20px;
	}
	
	// Other suggestions contains related coffees from the 
	// same region and somer random coffee making items
	.other-suggestions {
		clear: both;
		.uppercase;
		.center;
		padding-top: 25px;
		margin-bottom: 10px;
		font-size: 19px;
		.tondo-bold;
	}
	.view-related-coffees {
		margin-top: 20px;
	}
}

// This section contains styles based on the meta-region
// These are mostly colors and region specific settings
.product-detail {

	// Latin Amerca
	&.latin-america {
		.view-product-detail-left {
			.views-field-field-region {
				color: @green;
				border-bottom-color: @green;
				.tondo-bold;
			}
			.views-field-title {
				font-size: 19px;
				.tondo-bold;
			}
			.form-submit {
				background-position: 0 -400px;
				&:hover {
					background-position: -160px -400px;
				}
			}
		}
		.view-related-coffees {
			.views-field-field-region {
				color: @green;
				line-height: 14px;
			}
		}
	}

	// Africa
	&.africa {
		.view-product-detail-left {
			.views-field-field-region {
				color: @red;
				border-bottom-color: @red;
			}
			.views-field-title {
				font-size: 19px;
			}
			.form-submit {
				background-position: 0 -350px;
				&:hover {
					background-position: -160px -350px;
				}
			}
		}
		.view-related-coffees {
			.views-field-field-region {
				color: @red;
			}
		}
	}

	// Oceania
	&.oceania, &.pacific {
		.view-product-detail-left {
			.views-field-field-region {
				color: @blue;
				border-bottom-color: @blue;
			}
			.views-field-title {
				font-size: 19px;
			}
			.form-submit {
				background-position: 0 -450px;
				&:hover {
					background-position: -160px -450px;
				}
			}
		}
		.view-related-coffees {
			.views-field-field-region {
				color: @blue;
			}
		}
	}

	// Espresso
	&.espresso {
		.view-product-detail-left {
			.views-field-field-region {
				color: @black;
				border-bottom-color: @black;
			}
			.views-field-title {
				font-size: 19px;
			}
			.form-submit {
				background-position: 0 -550px;
				&:hover {
					background-position: -160px -550px;
				}
			}
		}
		.view-related-coffees {
			.views-field-field-region {
				color: @black;
			}
		}
	}

	// Espresso
	&.blends-decaf {
		.view-product-detail-left {
			.views-field-field-region {
				color: @brown;
				border-bottom-color: @brown;
			}
			.views-field-title {
				font-size: 19px;
			}
			.form-submit {
				background-position: 0 -500px;
				&:hover {
					background-position: -160px -500px;
				}
			}
		}
		.view-related-coffees {
			.views-field-field-region {
				color: @brown;
			}
		}
	}

	// Espresso
	&.brewing-tool {
		.view-product-detail-left {
			.views-field-field-region {
				color: @brown;
				border-bottom-color: @brown;
			}
			.views-field-title {
				font-size: 19px;
			}
			.form-submit {
				background-position: 0 -500px;
				&:hover {
					background-position: -160px -500px;
				}
			}
		}
		.region-data {
			img {
				border: 3px solid #fff;
			}
		}
		
	}
}


.view-related-coffees {
	.views-row {
		-webkit-transition: all .2;
		&.Latin-America {
			&:hover {
				background: @lightgreen;
			}
		}
		&.Africa {
			&:hover {
				background: @lightred;
			}
		}
		&.Pacific {
			&:hover {
				background: @lightblue;
			}
		}
		&.Decaf, &.Blends {
			&:hover {
				background: @lightbrown;
			}
		}
		&.Espresso {
			&:hover {
				background: @lightblack;
			}
		}
	}
	.views-field-field-region {
		border-bottom: 0;
		.Latin-America {
			color: @green;
			border-bottom: 1px solid @green;
		}
		.Africa {
			color: @red;
			border-bottom: 1px solid @red;
		}
		.Pacific {
			color: @blue;
			border-bottom: 1px solid @blue;
		}
		.Blends, .Decaf {
			color: @brown;
			border-bottom: 1px solid @brown;
		}
		.Espresso {
			color: @black;
			border-bottom: 1px solid @black;
		}
	}
}

// Styles for the zoomed coffee view map
#fancybox-outer {
	background: transparent;
}
.fancybox-bg {
	display: none;
}
#fancybox-close {
	background: url(../images/ui_elements.png) -29px -323px;
	position: fixed;
	top: 35px;
	right: 35px;
	width: 20px;
	height: 20px;
}

#fancybox-right-ico {
	width: 37px;
	height: 37px;
	background: url(../images/arrows_slideshow.png) no-repeat 0 -37px !important;
	&:hover {
		background-position: -37px -37px !important;
	}
}

#fancybox-left-ico {
	width: 37px;
	height: 37px;
	background: url(../images/arrows_slideshow.png) no-repeat;
	&:hover {
		background-position: -37px 0;
	}
}


// Hide the add to cart button on the subscription
// page to control user flow
.subscription {
	.add-to-cart {
		display: none;
	}
}

/*
  These styles are for the add to cart pop up display
  that is shown to the user when they add an item
  to their cart, it makes it easy for them to 
  understand what to do next.

 */
.added-product-title {
	color: @brown !important;
	.tondo-bold;
}
.commerce-add-to-cart-confirmation {
	padding-bottom: 15px !important;
}
.view-confirm-message-product-display {
	color: @brown !important;
	.views-field-field-commerce-product {
		color: @brown !important;
		font-size: 15px;
	}
	.views-field-field-image {
		float: left;
		margin-right: 10px;
	}
	.views-field-quantity {
		clear: none !important;
	}
	.views-field-commerce-total {
		clear: none !important;	
		font-size: 20px;	
		.field-content {
			color: @brown !important;
		}
	}
	
}

.button.continue {
	.commerce-add-to-cart-confirmation-close {
		display: block;
		height: 45px !important;
	}
}

/*
  If there is an attached view on the page, make sure
  we hide it. The contents of this view, if they exist,
  will be used my fancybox.
 */
.attachment {
	display: none;
}


/*
  Paging controls
 */
.pager-controls {
	top: 210px;
	z-index: 100;
	position: absolute;
	width: 120px;
	&:hover span {
			text-indent: 0;
		}
	//outline: 1px solid red;
	a {
		height: 30px;
		position: absolute;
		width: 21px;
		display: block;
		text-indent: -300em;
		background: url(/sites/all/themes/sightglass/images/ui_elements.png) no-repeat;
	}
	span {
		//outline: 1px solid blue;
		position: absolute;
		top: 4px;
		display: block;
		color: @beige;
		.tondo-bold;

	}
	
}

.pager-left {
	left: 60px;
	a {
		background-position: -125px 0;
	}
	span {
		left: -40px;
		text-indent: -300em;
	}
}

.pager-right {
	right: -40px;
	a {
		background-position: -145px 0;
	}
	span {
		right: 60px;
		text-indent: -300em;
	}
}

/*
  Hide the nid lists that are used to control paging
 */
.nid-block,
.detail-page-pager {
	display: none;
}