// Subscripions styles

@import 'mixins.css.less';
@import 'variables.css.less';

.page-subscriptions {
	.top-tabs .slideshow {
		padding: 0;
	}

	.view-subscriptions {
		margin: 0 auto;
		position: relative;
		.divider {
			width: 2px;
			height: 480px;
			position: absolute;
			background: url(../images/dots_vert.png) repeat-y -2px 0;
			top: 0;
			left: 300px;
		}
		.views-row {
			float: left;
			height: 450px;
			width: 220px;
			padding: 20px;
			.center;
			&.views-row-first {
				margin-right: 50px;
			}
			&.espresso {
				float: right;
			}
		}
		.views-field-field-image {
			margin-bottom: 20px;
			border: 0;
			width: auto;
		}
		.views-field-title {
			margin-bottom: 4px;
			a {
				text-decoration: none;
				color: #fff;
				font-size: 19px;
				line-height: 21px;
				.tondo-bold;
			}
		}
		.views-field-field-taste-notes {
			.typewriter;
			font-size: 13px;
		}
		.views-field-field-region {
			margin-bottom: 4px;
			.tondo-bold;
			.field-content {
				border-bottom: 1px solid #fff;
				display: inline-block;
				font-size: 15px;
				line-height: 14px;
			}
		}
		.views-field-path {
			margin-top: 15px;
			a {
				color: #fff;
				border: 1px solid #fff;
				text-decoration: none;
				.uppercase;
				display: inline-block;
				padding: 2px 10px;
				font-size: 12px;

			}
		}


	}
	.varietal {
			margin-left: 50px;
		}
		.espresso {
			float: right;
		}
	.subscription-program {
		h2.pane-title {
			font-size: 22px;
			.tondo-bold;
		}
	}
}


// Subscription detail page: Depending on the presence
// of the subscription class in the body tag, we're going
// to hide and show specific elements
body.subscription {
	.views-field-add-to-cart-form,
	.views-field-field-product {
		display: none;
	}
	// Hide subscribe elements
	.subscribe-button {
		display: block;
	}
}

.subscribe-button {
	display: none;
}

/*
  These styles are for the Recurly subscription form that
  is used to process all subscriptions. This form was 
  setup by Laurent and is a little different than typical
  Drupal forms
 */
.page-the-subscription {
	.block-system-main {
		margin: 0 auto;
		width: 700px;
	}
	form {
		width: 460px;
	}
	.form-item {
		margin-bottom: 10px;
	}
	.date-padding {
		padding: 0 !important;
	}

	.name {
		width: 187px !important;
		overflow: hidden;
		margin: 0 !important;
		input {
			width: 220px
		}
	}
	.first {
		margin-right: 20px !important;
	}
	#edit-submit {
		display: block;
		width: 160px;
		height: 42px;
		background: url(../images/buttons_big.png) no-repeat;
		&:hover {
			background-position: ;
		}
	}
}