@import 'mixins.css.less';
@import 'variables.css.less';

// This stylesheet contains all the general styles for the 
// tabs based interface that is used at the top of most
// pages throughout the site
// 
// Tabbed spaces are divided into two regions left and right
// and are both 50% of the available spaces minus margins

// -- top-tabs should be added to every quicktabs instance

.top-tabs {

	.panels-flexible-region-inside {
		padding: 0;
	}
	h2.pane-title {
		.tondo-bold;
	}

	.quicktabs_main {
		position: static;
	}

	.quicktabs-tabpage {
		color: @bgcolor;
	}
	// Quick tabs

	.quicktabs-wrapper {
		margin-bottom: 20px;
		width: 740px;

		// These are the tabs the user clicks to switch tab views
		.quicktabs-tabs li {
			background: @lightbrown;
			cursor: pointer;
			display: inline-block;
			padding: 3px 0;
			.border-radius(4px, 4px, 0, 0);
			border: 1px solid @to_brown;
			border-bottom: 0;
			&:hover {
				background: @brown;
				a:link, a:visited {
					color: @bgcolor;
				}
			}
			&.active {
				background: @brown;
				a:link, a:visited {
					color: @bgcolor;
				}
			}
			a:link, a:visited {
				color: @brown;
				text-decoration: none;
				.typewriter;
				.uppercase;

			}
			a {
				display: block;
				padding: 3px 20px;
				.center;
			}

		}

		// This shim was created for the design
		.shim {
			height: 8px;
			position: relative;
			top: 0;
			background: @brown;
			.border-radius(4px, 0, 0, 0);

		}

		.tab-slideshow {
			min-height: 340px;
		}
		
		// This is the main section where the tabbed content resides
		.quicktabs_main {
			.border-radius(0, 0, 4px, 4px);
			position: static;
			overflow: hidden;
			z-index: 50;
			background: @brown;
			.quicktabs-tabpage {
				padding: 20px;
				background: @brown;
			}
			li {
				//margin-bottom: 4px;
				a:link, a:visited {
					font-size: 15px;
					display: block;
					.typewriter;
					width: 250px;
					color: @bgcolor;
					padding: 3px 5px;
					text-decoration: none;
					&:hover {
						background: @bgcolor;
						color: @brown;
					}
				}
			}
			
		}
	}

	// -- LEFT SIDE - text overview

	.overview {
		.tondo-bold;
		font-size: 15px;
		h2 {
			.intro-titles;
		}
		p a {
			color: @bgcolor;
			text-decoration: none;
			border-bottom: 1px solid @bgcolor;
		}
	}

	// END left side
	// --------------------------------------------------------


	// -- RIGHT SIDE - slidshow

	.slideshow {
		padding-top: 10px; // extra padding to pull slideshow even with title
		.views-field-field-image {
			border: 2px solid @bgcolor;
			width: 338px;
		}
		.views-field-body {
			padding: 10px 40px 0 40px;
			.center;
		}
	}

	// END right side
	// --------------------------------------------------------

	.view-featured-partner-tab {
		.views-field-title {
			.intro-titles;
		}
	}

	// -- Slideshow controls
	
	.skin-default {
		position: relative;
	}
	.views-slideshow-controls-bottom {
		position: absolute;
		top: 100px;
		left: 20px;
		z-index: 20;
		width: 100%;
		span {
			width: 37px;
			height: 37px;
			position: absolute;
			background: url(../images/arrows_slideshow.png) no-repeat;
			top: 0;
			z-index: 20;
			a {
				display: block;
				text-indent: -550em;
			}
		}
	}
	.views-slideshow-controls-text-pause {
		display: none;
	}
	.views-slideshow-controls-text-previous {
		left: 0;
		&:hover {
			background-position: -37px 0;
		}
	}
	.views-slideshow-controls-text-next {
		right: 40px;
		background-position: 0 -37px !important;
		&:hover {
			background-position: -37px -37px !important;
		}
	}

	// END slideshow controls
	// --------------------------------------------------------
}



// This menu resides in the intro tab on the brewing 
// tools and goods page

.top-tabs {
	.pane-list-brewing-tools {
		margin-left: 120px;
		.pane-title {
			font-size: 13px;
			margin: 0 0 0 5px;
			.tondo-bold;
			.uppercase;
		}
		.view-list-brewing-tools {
			//margin-left: 220px;
			li {
				margin-right: 3px;
				a:link,
				a:visited {
					.tondo-reg;
					width: 210px;
				}
			}
		}
	}
}

// Subscription button
.quicktabs-wrapper {
	position: relative;
	.button-subscriptions {
		display: none !important;
		position: absolute;
		right: 0;
		top: 1px;
		text-decoration: none;
		color: @brown;
		font-size: 14px;
		.uppercase;
		//.tondo-bold;
		display: inline-block;
		border: 1px solid @brown;
		padding: 1px 30px;
		.border-radius(4px);
		-webkit-transition: all .2s;
		&:hover {
			background: @brown;
			color: @bgcolor;
		}
	}
}



// Force height of tabs to be consistent on the coffee catalog
// pages
.page-coffees,
.page-brewing-tools-and-goods {
	.quicktabs-tabpage {
		height: 395px;
	}
}

// Region colors
.latin-america {
	.top-tabs {
		.quicktabs-tabpage,
		.shim {
			background: @green !important;
		}
		.quicktabs-tabs li {
			background: @lightgreen;
			border: 1px solid @to_green;
			border-bottom: 0;
			&.active, &:hover {
				background: @green;
				border-color: @green;
				a:link, a:visited {
					color: @bgcolor;
				}
			}
		}
	}
}
// Africa
.africa {
	.top-tabs {
		.quicktabs-tabpage,
		.shim {
			background: @red !important;
		}
		.quicktabs-tabs li {
			background: @lightred;
			background: @lightred;
			border: 1px solid @to_red;
			border-bottom: 0;
			&.active, &:hover {
				background: @red;
				border-color: @red;
				a:link, a:visited {
					color: @bgcolor;
				}
			}
		}
	}
}
// Oceania
.oceania {
	.top-tabs {
		.quicktabs-tabpage,
		.shim {
			background: @blue !important;
		}
		.quicktabs-tabs li {
			background: @lightblue;
			background: @lightblue;
			border: 1px solid @to_blue;
			border-bottom: 0;
			&.active, &:hover {
				border-color: @blue;
				background: @blue;
				a:link, a:visited {
					color: @bgcolor;
				}
			}
		}
	}
}
// Espresso
.espresso {
	.top-tabs {
		.quicktabs-tabpage,
		.shim {
			background: @black !important;
		}
		.quicktabs-tabs li {
			background: @lightblack;
			background: @lightblack;
			border: 1px solid @to_black;
			border-bottom: 0;
			&.active, &:hover {
				border-color: @black;
				background: @black;
				a:link, a:visited {
					color: @bgcolor;
				}
			}
		}
	}
}

// Espresso
.blends-decaf {
	.top-tabs {
		.quicktabs-tabpage,
		.shim {
			background: @brown !important;
		}
		.quicktabs-tabs li {
			background: @lightbrown;
			background: @lightbrown;
			border: 1px solid @to_brown;
			border-bottom: 0;
			&.active, &:hover {
				background: @brown;
				border-color: @brown;
				a:link, a:visited {
					color: @bgcolor;
				}
			}
		}
	}
}
