@import 'mixins.css.less';
@import 'variables.css.less';

h1.title {
	.center;
	.tondo-bold;
	.uppercase;
	span {
		border-bottom: 2px solid @brown;
	}
}

.panel-display h2.pane-title {
	.tondo-regular;
}

.page-wholesale,
.context-wholesale,
.page-our-company,
.page-resources {
	.typewriter;
}

.location-box {
	.center;
	h2.pane.title {
		font-size: 16px;
	}
	iframe {
		border: 2px solid @bgcolor;
	}
}