// This file contains variables that will be used
// throughout the sightglass site

// Colors
@red:         #fa1400;
@lightred:    #FCCFCA;
@blue:        #005bff;
@lightblue:   #C8DBFF;
@green:       #369c00;
@lightgreen:  #B9E2A6;
@brown:       #473000;
@lightbrown:  #AEA48E;
@black: 	  #000000;
@lightblack:  #999999;
@extralightbrown: #D1CBBF;
@bgcolor:     #dfe0d9;
@footercolor: #a9a89b;

