// This file contains variables that will be used
// throughout the sightglass site

// Colors
@red:         #fa1400;
@blue:        #005bff;
@green:       #369c00;
@brown:       #473000;
@lightbrown:  #AEA48E;
@bgcolor:     #dfe0d9;
@footercolor: #a9a89b;

